#NoteContainer {
    position: relative;
    width: 1000px;
    height: 800px;
    border: 2px solid #ccc;
    overflow: hidden;
    margin: 20px auto;
}

.note {
    position: absolute;
    width: 200px;
    height: 150px;
    background-color: #fffae3;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    cursor: grab;
    resize: none;
}

.note textarea {
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    font-size: 14px;
}
.note button {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #ff0000;
    outline: none;
}

.note.dragging {
    cursor: grabbing;
}

#createNoteBtn {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 16px;
}
#title {
    text-align: center;
    font-size: 60px;
    margin-bottom: 20px;
    font-weight: bold;
}
#boardsList {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}